<h3>Copy - cp</h3>
<a href='/'>Main Menu</a> 
<a href='/commands'>Commands</a>
<p>

	NAME
     cp -- copy files

SYNOPSIS
     cp [-R [-H | -L | -P]] [-fi | -n] [-apvX] source_file target_file
     cp [-R [-H | -L | -P]] [-fi | -n] [-apvX] source_file ... target_directory

DESCRIPTION
     In the first synopsis form, the cp utility copies the contents of the source_file to the target_file.
     In the second synopsis form, the contents of each named source_file is copied to the destination
     target_directory.  The names of the files themselves are not changed.  If cp detects an attempt to
     copy a file to itself, the copy will fail.

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
           value is not altered.
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
           value is not altered.
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
           value is not altered.

:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
           value is not altered.

           If the source file has its set-user-ID bit on and the user ID cannot be preserved, the set-
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
           value is not altered.

           If the source file has its set-user-ID bit on and the user ID cannot be preserved, the set-
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
           value is not altered.

           If the source file has its set-user-ID bit on and the user ID cannot be preserved, the set-
           user-ID bit is not preserved in the copy's permissions.  If the source file has its set-group-
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
           value is not altered.

           If the source file has its set-user-ID bit on and the user ID cannot be preserved, the sot preserved in the copy's permissions.  If the source file has its set-group-
           ID bit on and the group ID cannot be preserved, the set-group-ID bit is not preserved in the
:

     The following options are available:

     -a    Same as -pPR options. Preserves structure and attributes of files but not directory structure.

     -f    If the destination file cannot be opened, remove it and create a new file, without prompting
           for confirmation regardless of its permissions.  (The -f option overrides any previous -n
           option.)

           The target file is not unlinked before the copy.  Thus, any existing access rights will be
           retained.

     -H    If the -R option is specified, symbolic links on the command line are followed.  (Symbolic
           links encountered in the tree traversal are not followed.)

     -i    Cause cp to write a prompt to the standard error output before copying a file that would over-
           write an existing file.  If the response from the standard input begins with the character `y'
           or `Y', the file copy is attempted.  (The -i option overrides any previous -n option.)

     -L    If the -R option is specified, all symbolic links are followed.

     -n    Do not overwrite an existing file.  (The -n option overrides any previous -f or -i options.)

     -P    If the -R option is specified, no symbolic links are followed.  This is the default.

     -p    Cause cp to preserve the following attributes of each source file in the copy: modification
           time, access time, file flags, file mode, user ID, and group ID, as allowed by permissions.
           Access Control Lists (ACLs) and Extended Attributes (EAs), including resource forks, will also
           be preserved.

           If the user ID and group ID cannot be preserved, no error message is displayed and the exit
           value is not altered.

           If the source file has its set-user-ID bit on and the user ID cannot be preserved, the set-
           user-ID bit is not preserved in the copy's permissions.  If the source file has its set-group-
           ID bit on and the group ID cannot be preserved, the set-group-ID bit is not preserved in the
           copy's permissions.  If the source file has both its set-user-ID and set-group-ID bits on, and
           either the user ID or group ID cannot be preserved, neither the set-user-ID nor set-group-ID
           bits are preserved in the copy's permissions.

     -R    If source_file designates a directory, cp copies the directory and the entire subtree connected
           at that point.  If the source_file ends in a /, the contents of the directory are copied rather
           than the directory itself.  This option also causes symbolic links to be copied, rather than
           indirected through, and for cp to create special files rather than copying them as normal
           files.  Created directories have the same mode as the corresponding source directory, unmodi-
:

</p>