<h1>Cheatsheet</h1>
<hr />
<h2>Main Menu</h2>
<hr />
<ol>
	<li><a href="/commands">Commands</a></li> 
	<li><a href="/search">Search</a></li> 
	<li><a href="http://www.google.com" target="_blank">Google</a></li> 
</ol>

