<h3>Search Commands</h3>
<hr />

<form action="/search_commands" method="POST">
	<input type="text" name="command_name" />
	<input type="submit" />
</form>

<a href='/'>Main Menu</a> 
<a href='/commands'>Commands</a>



<!-- <h1>Search For Class Member</h1>
<br />
<form action="/search_class_member" method="POST">
	<input type="text" name="member_name" />
	<input type="submit" />
</form>
<a href = '/'>Home</a> -->